.site-header {
      width: 100%;
      padding: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.site-header > .site-menu {
      display: flex;
      grid-gap:30px;
      align-items: center;
}

.site-header > .site-menu > .site-nav {
      display: flex;
      align-items: center;
      grid-gap:24px;
}

.site-header > .site-menu > .site-nav > .nav-item {
      font-size:20px;
      font-weight:500;
      color:var(--web-foreground);
      cursor: pointer;
      transition:0.1s ease-in-out;
}

.site-header > .site-menu > .site-nav > .nav-item:hover {
      color:var(--accent-1);
}

.site-header > .site-user-controls {
      display:flex;
      align-items: center;
      grid-gap:10px;
}